@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Grenze+Gotisch:wght@100..900&family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";

:root {
  --color-foreground: #0e0517;
  --color-primary: #cc6c8c;
  --color-secondary: #ffa852;

  --font-header: 'Agu Display', sans-serif;
  --font-body: 'Tektur', sans-serif;
  --font-fancy: 'Grenze Gotisch', serif;
}

html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
}

.font-header { font-family: var(--font-header); }
.font-body { font-family: var(--font-body); }
.font-fancy { font-family: var(--font-fancy); }

.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-foreground { background-color: var(--color-foreground); }

.bg {
  width: 100vw;
  min-height: 100vh;

  background-image: url('./assets/Background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}
.astronaut-float {
  animation: float 6s ease-in-out infinite;
}
.plane-float {
  animation: float 1s ease-in-out infinite;
}